body {
    margin: 0px;

}

.landing_page {
    max-width: 1440px;
    width: 100%;
    max-height: 810px;
    height: 100%;
    background-color: #F4F6F7;
    border-bottom: 1px solid #DCE2E6;
}

.header {
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    background-image: url(../images/logo.svg);
    width: 130px;
    height: 36px;
    margin: 135px;
    background-repeat: no-repeat;
}

.nav_list {
    margin-right: 135px;
}

.nav {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    margin-right: 135px;
}

.nav__item {
    padding-left: 50px;
}

.nav_item--link {
    text-decoration: none;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 12px;
    color: #13253A;
}

.nav_item--link:visited {
    text-decoration: none;
    color: #13253A;
}

.landing_page_content {
    max-width: 1440px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 170px;
    box-sizing: border-box;
}

.buttom_box {
    width: 470px;
    height: 261px;
    display: flex;
    align-items: flex-end;
}

.landing_button {
    background: #FF7F57;
    border-radius: 3px;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 23px;
    text-align: center;
    color: #FFFFFF;
    padding: 19px 42px 18px;
    border: none;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 10px rgba(0,0,0,0.19);
    }

.landing_pic {
    background-image: url(../images/landing_pic.svg);
    background-repeat: no-repeat;
    width: 568px;
    height: 412px;
}

.services_page {
    width: 100%;
    max-width: 1440px;
}

.services_page__heading {
    text-align: center;
    font-family: 'Nunito Sans';
}

.services {
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    margin-left: 135px;
    margin-right: 135px;
}

.experiance_banner {
    height: 205px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 330px;
    padding-left: 330px;
    background: #F4F6F7;
}





.logo_banner__items_1 {
    background-image: url(../images/logo-1-hello-fresh.png);
}

.logo_banner__items_2 {
    background-image: url(../images/logo-2-trivago.png);
}

.logo_banner__items_3 {
    background-image: url(../images/logo-3-los-angelese-times.png);
}

.logo_banner__items_4 {
    background-image: url(../images/logo-4-oracle.png);
}

.logo_banner__items_5 {
    background-image: url(../images/logo-5-target.png);
}